@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollable-section {
  position: relative;
  height: calc(100vh - 340px);
  /* Adjust the height based on the height of non-scrollable sections */
  overflow-y: auto;
}

.scrollable-section-item {
  position: relative;
  height: calc(100vh - 300px);
  /* Adjust the height based on the height of non-scrollable sections */
  overflow-y: auto;
}

.scrollable-section-checkout-item {
  position: relative;
  height: calc(100vh - 410px);
  /* Adjust the height based on the height of non-scrollable sections */
  overflow-y: auto;
}
}